.header {
  @include outer-container;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.logo {
  font-weight: 400;
  font-size: 1.424em;
  color: $base-font-color;
}

.logo__style {
  font-family: $serif-font-family;
  font-style: italic;
  font-size: 0.889em;
}
