.header {
  padding: 2.25rem 0 1.5rem;
}

.header-title {
  font-weight: 400;
  font-size: 1.5rem;
  color: #313535;
}

//.nav {
//  text-align: right;
//  line-height: 1.2;
//}
//
//.nav__item {
//  display: inline-block;
//}
//
//.nav__item--cross {
//  text-decoration: line-through;
//}
