// Layout
//
// Styles for managing the structural hierarchy of the site.


.wrap {
  padding: 1.5rem;
}

.wrap--rosey {
  background-color: #FDF7F7;
}

.container {
  max-width: 29rem;
  margin-left: auto;
  margin-right: auto;
}

.project {
  padding-top: 0;
  padding-bottom: 0.5rem;
}

